@media only screen and (min-width: 64em){
    #home{
        margin-top: 5px;
    }
    header h1{
        font-size: 3rem;
    }
    header h3{
        font-size: 2rem;
    }
    .social{
        margin-right: 2.5rem;
    }
    footer ul li{
        padding: 2px;
      }
      .con{
        margin-right: 5em;
      }
      footer ul li:hover{
        background-color: red;
      }
      .intro{
        margin-top: -70px;
        margin-left: 50px;
        font-weight: bolder;
        text-shadow: 5px 5px 5px black;
      }
}
