@media only screen and (min-width: 64em){
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    color: white;
  }
 
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
    #home{
        margin-top: 5px;
    }
    header h1{
        font-size: 3rem;
    }
    header h3{
        font-size: 2rem;
    }
    .social{
        margin-right: 2.5rem;
    }
    footer ul li{
        padding: 2px;
      }
      .con{
        margin-right: 5em;
      }
      footer ul li:hover{
        background-color: red;
      }
      .intro{
        margin-top: -70px;
        margin-left: 50px;
        font-weight: bolder;
        text-shadow: 5px 5px 5px black;
      }
      .display img{
       width: 250px;
  }
      .display img:hover{
            border-radius: 150px;
            box-shadow: 0 0 50px #333;
      }
      .zoom:hover{
        -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
      }
      /* for contact us page*/
      form fieldset{
        margin: 2rem;
    }

    form label.top input{
        width: 100%;   
    }
    .submitBtn:hover{
      background-color: red;
  }
  /*for registration page*/
  #register-page{
    margin: 3rem;
  }
  #register-page a:hover{
    color: red;  
   }
   #register-page a:after{
    color:blueviolet;  
   }
   /*for business page*/
   .biz-image{
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
   }
   .biz-image picture img{
    width: 290px;
  }
    .biz-image picture img:hover{
      border-radius: 150px;
    }
  
  /*for culinary page*/
  .cul-image{
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
  }
  .cul-image picture img{
    width: 300px;
  }
  .cul-image picture img:hover{
    border-radius: 150px;
  }
        /* for Archive page*/
        .arc-image{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
          gap: 1rem;
        }
        .arc-image picture img{
          width: 350px;
        }
        video{
          width: 350px;
          margin-left: 1rem;
        }
}
