@media only screen and (min-width: 64em){
    #home{
        margin-top: 5px;
    }
    header h1{
        font-size: 3rem;
    }
    header h3{
        font-size: 2rem;
    }
    .social{
        margin-right: 2.5rem;
    }
    footer ul li{
        padding: 2px;
      }
      .con{
        margin-right: 5em;
      }
      footer ul li:hover{
        background-color: red;
      }
      .intro{
        margin-top: -70px;
        margin-left: 50px;
        font-weight: bolder;
        text-shadow: 5px 5px 5px black;
      }
      .display img:hover{
            border-radius: 5px 100px;
            box-shadow: 0 0 50px #333;
      }
      /* for contact us page*/
      form fieldset{
        margin: 2rem;
    }

    form label.top input{
        width: 100%;   
    }
    .submitBtn:hover{
      background-color: red;
  }
  /*for registration page*/
  #register-page{
    margin: 3rem;
  }
  #register-page a:hover{
    color: red;  
   }
   #register-page a:after{
    color:blueviolet;  
   }
   /*for business page*/
   .biz-image{
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
  }
  /*for culinary page*/
  .cul-image{
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
  }
        /* for Archive page*/
        .arc-image{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
          gap: 1rem;
        }
        .arc-image picture img{
          width: 350px;

        }
}
