@media only screen and (min-width: 32.5em){
    main{
        background-color: #ffffff;
    }
    #home{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }
    .display{
        margin-bottom: 10px;
    }
    #name-area{
        display: flex;
    }
    header h1{
        font-size: 40px;
    }
    header h3{
        font-size: 30px;
    }
    #foot{
        display: flex;
    }
    .con{
      margin-right: 5em;
    }
    .intro{
        margin-top: -70px;
        margin-left: 50px;
        font-weight: bolder;
        text-shadow: 5px 5px 5px black;
      }
      .submitBtn{
        border: none;
        background-color: #540804;
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 2rem;
        width: 96%;
        
      }
      /*for business page*/
      .biz-image{
        display: flex;
        flex-direction: column;
      
      }
      .biz-image picture img{
        width: 350px;
       
      }
       /*for culinary page*/
       .cul-image{
        display: flex;
        flex-direction: column;
      
      }
      .cul-image picture img{
        width: 350px;   
      }

      /* for Archive page*/
    .arc-image{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
video{
  width: 300px;
  margin-left: 1.5rem;
}
}