@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Zen+Kurenaido&display=swap");

body p {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 20px;
  }

  h1, h2, h3, h4 {
    font-family: "Cinzel", serif;
  }
  header, footer{
    background-color: #540804;
    padding: 5px 0;
    width: 100%;
    margin: auto;
    
  }
#name-area{
    display: block;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    text-align: center;
    }
    header h1{
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        margin-top: 15px;
        text-shadow: 5px 10px 10px #ffffff;
    }
    header h3{
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        margin: -20px;
        text-shadow: 5px 10px 10px #ffffff;
    }
    header picture img{
        width: 200px;
        height: 150px;
        padding: 5px;
        
        
    }
    .fb, .ln{
        height: 40px;
        width: 40px;
        padding: 5px;;
    }
    .social{ 
        margin-top: 25px; 
        
    }
  
  .navbar {
    overflow: hidden;
    background-color: inherit;
    justify-content: space-between;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Zen Kurenaido", sans-serif; 
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "Zen Kurenaido", sans-serif; 
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  footer{
    margin-top: 20px;
  }
  #foot{
    display: block;
    justify-content: space-between;
  }
  footer img{
    width:200px;
    height: 150px;
    padding: 5px;
  }
  footer ul li{
    font-family: "Cinzel", serif;
    color: #ffffff;
    list-style: none;
    font-size: 20px;
    padding: 5px;
  }
  footer ul li a{
    font-family:"Zen Kurenaido", sans-serif; 
    color: #ffffff;
    text-decoration: none;
  }
  .dept{
    margin-right: 5rem;
    text-align: left;
  }
  .deli{
    margin-top: 25px;
    font-family:"Zen Kurenaido", sans-serif; 
    font-size: 20px;
    
  }
  .con{
    margin-left: 2.5rem;
    color: #ffffff;
    
  }
  .update{
    text-align: center;
    color: #FFFFFF;
    margin-top: 5px;
    font-size: 15px;
}
iframe{
  width: 250px;
  height: 100px;
}
  .footnote{
    text-align: center;
    margin: 0;
    padding: 10px;
    color: #ffffff;
    font-size: medium;
  }
  marquee{
        font-family: "Zen Kurenaido", sans-serif ;
        color: #540804;
        font-weight: bolder;
  }
  #home{
    display: block;
    margin: 0 50px;
    text-align: center;
  }
  .display{
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #D9DBF1;

  }
  .display img{
    margin-top: 10px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #0B3948;
  }
  .intro{
    margin-top: -70px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px black;
    text-align: center;
  }
  /* for contact us page*/
  form fieldset{
    margin: 2rem ;
    border: thick solid #540804;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend{
    color: #540804;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top {
    display: block;
    padding: .75rem;
    color: #540804;
    font-size: 1rem;

}
form p{
  margin-left: 50px;
  margin-top: 5px;
  text-align: justify;
}
form label.top input{
    
    display: block;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    max-width: 20rem;
    background-color: darkgray;
}
form label.top textarea{
  height: 150px;
  width: 100%;
  border: 2px solid #540804;
}
form input.submitBtn{
  border: none;
  background-color: #540804;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 2rem;
  width: 70%;
  max-width: 20rem;
}
form label.top input:required{
  border-left: red solid 6px;
}
form label.top input:required:valid{
  border-left: green solid 6px;
}
.thanks{
  text-align: center;
  font-size: 30px;
}
/*registration page*/

#register-page{
  margin: 2rem;
}
#register-page h3{
  text-shadow: 5px 5px 5px black;
  text-align: center;
  color: #540804;
  font-weight: bolder;
}
#register-page h2{
  text-shadow: 5px 5px 5px black;
  color: #540804;
  margin-top: 40px;  
}
#register-page p{
  margin-top: 40px;
  text-align: justify;  
}
#register-page a{
 font-size: 20px;  
}
.choose{
   padding: 5px;
   font-size: 20px;
 }
 #register-page span{
  background-color: yellow; 
 }
 .reg-p{
  margin-left: 10px;
 }
 .submitBtn{
  border: none;
  background-color: #540804;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 1rem;
  width: 70%;
  max-width: 20rem;
}
/*for business page*/
#business{
  margin: 2rem;
}

#business h3{
  text-shadow: 5px 5px 5px black;
  text-align: center;
  color: #540804;
  font-weight: bolder;
}
#business p{
  margin-top: 20px;
  text-align: justify;  
}
.biz-image{
  display: block;
  gap: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 50px;
}
.biz-image picture img{
  width: 270px;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px #0B3948;
}
.chris{
  text-align: center;
  margin-top: 30px;
 
}
.chris picture img{
  width: 200px;
  border-radius: 150px;
  box-shadow: 5px 5px 10px 5px #0B3948;
}
/*for culnary page*/
#culinary{
  margin: 2rem;
}

#culinary h3{
  text-shadow: 5px 5px 5px black;
  text-align: center;
  color: #540804;
  font-weight: bolder;
}
#culinary p{
  margin-top: 20px;
  text-align: justify;  
}
.cul-image{
  display: block;
  gap: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 50px;
}
.cul-image picture img{
  width: 270px;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px #0B3948;
}
.brian{
  text-align: center;
  margin-top: 30px;
 
}
.brian picture img{
  width: 200px;
  border-radius: 150px;
  box-shadow: 5px 5px 10px 5px #0B3948;
}
/* for archive page*/
#archive{
  margin: 2rem;
}
#archive p{
  text-align: center;
  text-shadow: 5px 5px 5px black;
  color: #540804;
  font-weight: bolder;
}
.arc-image{
  display: block;
  gap: 1rem;
  text-align: center;
  margin-top: 2rem;
}
.arc-image picture img{
  width: 300px;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px #0B3948;
}
/*for Electrical Engineering page*/
#elect-elect{
  margin: 2rem;
}
#elect-elect h3{
  text-shadow: 5px 5px 5px black;
  text-align: center;
  color: #540804;
  font-weight: bolder;
}
#elect-elect p{
  margin-top: 20px;
  text-align: justify;  
}