@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Zen+Kurenaido&display=swap");

body p {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 20px;
  }

  h1, h2, h3, h4 {
    font-family: "Cinzel", serif;
  }
  header{
    background-color: #540804;
  }