@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Zen+Kurenaido&display=swap");

main{
  background-color: #D9DBF1;
}
body p {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 20px;
  }

  h1, h2, h3, h4 {
    font-family: "Cinzel", serif;
  }
  header, footer{
    background-color: #540804;
    padding: 5px 0;
    width: 100%;
    margin:  20px auto;
    
  }
#name-area{
    display: block;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    text-align: center;
    }
    header h1{
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        margin-top: 15px;
        text-shadow: 5px 10px 10px #ffffff;
    }
    header h3{
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        margin: -20px;
        text-shadow: 5px 10px 10px #ffffff;
    }
    header picture img{
        width: 200px;
        height: 150px;
        padding: 5px;
        
        
    }
    .fb, .ln{
        height: 40px;
        width: 40px;
        padding: 5px;;
    }
    .social{ 
        margin-top: 25px; 
        
    }
  
  .navbar {
    overflow: hidden;
    background-color: inherit;
    justify-content: space-between;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Zen Kurenaido", sans-serif; 
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "Zen Kurenaido", sans-serif; 
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #foot{
    display: block;
    justify-content: space-between;
  }
  footer img{
    width:200px;
    height: 150px;
    padding: 5px;
  }
  footer ul li{
    font-family: "Cinzel", serif;
    color: #ffffff;
    list-style: none;
    font-size: 20px;
    padding: 5px;
  }
  footer ul li a{
    font-family:"Zen Kurenaido", sans-serif; 
    color: #ffffff;
    text-decoration: none;
  }
  .dept{
    margin-right: 5rem;
    text-align: left;
  }
  .deli{
    margin-top: 25px;
    font-family:"Zen Kurenaido", sans-serif; 
    font-size: 20px;
    
  }
  .con{
    margin-left: 2.5rem;
    color: #ffffff;
    
  }
  .footnote{
    text-align: center;
    margin: 0;
    padding: 10px;
    color: #ffffff;
    font-size: medium;
  }
  marquee{
        font-family: "Zen Kurenaido", sans-serif ;
        color: #540804;
        font-weight: bolder;
  }
  #home{
    display: block;
    margin: 0 50px;
    text-align: center;
  }
  .display{
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #D9DBF1;

  }
  .display img{
    margin-top: 10px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #0B3948;
  }
  .intro{
    margin-top: -70px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px black;
    text-align: center;
  }